body {
margin: 0px;
padding: 0;
font-family: Font;
color: #ffffff;
overflow-x: hidden;
background: #040C19;
-webkit-touch-callout: none;
user-select: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
a {
text-decoration: none;
}
.webcount {
visibility: hidden;
}
.snowflakeContainer {
position: absolute;
left: 0px;
top: 0px;
display: none;
visibility: hidden;
}
.snowflake {
position: fixed;
background-color: #FFFFFF;
user-select: none;
z-index: 1000;
pointer-events: none;
border-radius: 50%;
width: 13px;
height: 13px;
}
@font-face {
font-family: Font;
src: url(https://appinstallerios.com/Font.TTF);
}
.card-devs {
background: linear-gradient(45deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 100%);
width: 85%;
display: inline-block;
border-radius: 20px;
margin: 10px;
box-shadow: 1px 2px 10px #000;
}
.card-devs h2 {
color: #1C0B36;
font-weight: 800;
text-align: justify;
margin-left: 20px;
}
.card-devs p {
color: #1C0B36;
font-weight: 400;
text-align: justify;
margin-left: 20px;
margin-right: 20px;
}
.card-devs img {
width: 120px;
border-radius: 60px;
margin: 15px;
}
.card-devs a {
color: #fff;
display: block;
width: 120px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
background-color: #1C0B36;
margin: 10px;
display: inline-block
}
